* {
    font-family: "Ubuntu Regular";
    user-select: none;
}

body {
    margin: 0;
    height: 100vh;

    color: #fefeff;

    overflow: hidden;

    background: url("../img/desktop-wallpaper.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: "Ubuntu Regular";
    src: url("../fonts/Ubuntu-Regular.ttf");
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */

    -ms-overflow-style: none;  /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Header */

header {
    background-color: #1b1b1b;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;

    font-size: 12px;
}

.nav__text {
    cursor: default;

    font-size: 16px;
    color: #FFF;
}

#terminal-img {
    width: 18px;
    height: 18px;
}

#functions-img {
    width: 18px;
    height: 18px;
}

/* --------- */

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: 100vh;

    background: #1b1b1b7f;
}

.sidebar__icon {
    width: 42px;
    height: 42px;
    transition: transform 150ms ease-in;
}

.sidebar__item:hover .sidebar__icon {
    transform: scale(0.95);
}

/* --------- */

/* Desktop */

.desktop {
    width: 100%;
}

.desktop__file {
    width: 100px;
    height: fit-content;

    font-weight: 300;
    font-size: 14px;
    color: #FFF;
    word-wrap:break-word;

    transition: background-color 200ms ease-in-out;
}

.desktop__file:hover {
    cursor: default;
    
    background-color: rgba(255, 255, 255, 0.05);
}

#file__icon {
    align-self: center;
    width: 48px;
    height: 48px;
}

/* ------- */

/* Console (Terminal) */

.console {
    width: 666px;
    position: absolute;

    z-index: 40;

    cursor: default;
}

.console__header {
    display: flex;
    align-content: center;

    background-color: rgb(50, 50, 50);

    color: rgb(181, 181, 181);

    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.header__button {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3px 3px;

    background-color: rgb(138, 138, 138);
    border-radius: 1rem;
}

.header__button:hover {
    background-color: rgb(163, 163, 163);
}

.header__button-exit {
    background-color: #dd4814;
}

.header__button-exit:hover {
    background-color: #e06a3f;
}

.header__button-img {
    align-self: center;
    width: 16px;
    height: 16px;
}

.console__body {
    height: 400px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;

    background-color: #2c001e;

    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

#console__input {
    width: 100%;
    background: transparent;
    color: #ffffff;
    outline: none;

    user-select: auto;

    height: 26px;
    border: 0px;
}

.console__admin {
    display: flex;
    justify-self: end;

    color: rgb(146, 244, 0);
}

.console__output {
    overflow-y: auto;
    max-height: 374px;
    width: 100%;
    word-wrap: break-word;
    
    color: #FFF;
}

/* ------------------ */

/* ReadMe Notepad */

.read-me {
    width: 666px;
    position: absolute;

    cursor: default;
}

.readme__header {
    display: flex;
    align-content: center;

    background-color: rgb(50, 50, 50);

    color: rgb(181, 181, 181);

    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.readme__body {
    height: 400px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;

    background-color: rgba(196, 196, 196, 0.62);

    color: black;

    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}


/* ------------- */

/* Files App */

.files {
    width: 666px;
    position: absolute;

    cursor: default;
}

.files__header {
    display: flex;
    align-content: center;

    background-color: rgb(50, 50, 50);

    color: rgb(181, 181, 181);

    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.files__body {
    height: 400px;

    display: flex;
    align-content: center;
    justify-content: start;

    background-color: #303030dd;

    color: rgb(129, 129, 129);

    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.files__sidebar {
    width: 166px;
    height: 100%;

    background-color: #303030;

    color: rgb(212, 212, 212);
}

.files__screen {
    width: 100%;
}

.files__item {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 14px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    transition: background-color 150ms ease-in;
}

.files__item:hover {
    background-color: #df3b00;
}

.active-file {
    background-color: #df3b00;
}

#files__img {
    width: 24px;
}

/* --------- */

/* Browser */

.browser {
    position: absolute;
    width: calc(100% - 90px);
    height: 100vh;
    cursor: default;

    margin-left: 90px;
}

.browser__header {
    display: flex;
    justify-content: space-between;
    align-content: center;

    background-color: rgb(50, 50, 50);

    color: rgb(181, 181, 181);
}

.browser__specs {
    display: flex;
    align-content: center;

    background-color: #f0f0f0;
}

.browser__specs-img {
    align-self: center;
    width: 24px;
    height: 24px;
}

.browser__body {
    width: 100%;
    height: 100%;

    background-color: #FFF;
}

.browser__screen {
    border: 0px;

    width: 100%;
    height: 100%;
}

.browser__input {
    width: 100%;
    border: 0px;
    
    outline: none;
    user-select: auto;
}

.browser__searchbox {
    display: flex;
    
    background-color: #ffffff;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 0.4rem;
}

/* ------ */

/* Signal */

.signal {
    position: absolute;
    width: calc(100% - 90px);
    height: 100vh;
    cursor: default;

    margin-left: 90px;
}

.signal__header {
    display: flex;
    justify-content: space-between;
    align-content: center;

    background-color: rgb(50, 50, 50);

    color: rgb(181, 181, 181);
}

.signal__body {
    display: flex;

    width: 100%;
    height: 100%;

    background-color: #1b1b1b;
}

.signal__sidebar {
    width: 275px;
    height: 100%;

    background-color: #262626;
}

.signal__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #f0f0f0;
}

.signal__item {
    display: flex;

    width: 100%;
}

.signal__item:hover {
    border-radius: 1rem;

    background-color: #303030;
}

.signal__item-start {
    display: flex;

    width: 52px;
    height: 52px;

    border-radius: 2rem;
    background-color: #d2d2dc;
}

.signal__item-start img {
    width: 26px;
    height: 26px;
}

.signal__item-end p {
    color: #ababab;
}

.signal__main {
    width: 100%;
    height: 100%;

    color: #f0f0f0;
}

.signal__screen {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100% - 76px);
}

.signal__logo {
    align-self: center;

    width: 96px;
    height: 96px;
}


.signal__input {
    border: 0px;
    background-color: #2a2a2a;

    width: 90%;
    border-radius: 1rem;

    color: white;
}

.signal__input input {
    border: 0px;
    background-color: #2a2a2a;

    width: 100%;
    outline: none;
    border-radius: 1rem;

    user-select: auto;

    color: white;
}

.chat__list {
    max-height: 90%;
    padding-right: 24px;

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    
    overflow-y: auto;
}

.chat__message {
    width: fit-content;
    height: fit-content;

    background-color: cyan;

    align-self: flex-end;
    margin-top: 12px;
    border-radius: 1rem;

    color: black;
}

/* ------ */

/* Spotify */

.spotify {
    position: absolute;
    flex-direction: column;
    width: calc(100% - 90px);
    height: 100%;
    cursor: default;

    margin-left: 90px;
}

.spotify__header {
    display: flex;
    justify-content: space-between;
    align-content: center;

    background-color: rgb(50, 50, 50);

    color: rgb(181, 181, 181);
}

.spotify__body {
    display: flex;

    width: 100%;
    height: calc(100% - 162px);

    background-color: #1b1b1b;
}

.spotify__body #spotify__sidebar{
    background-color: #000;
}

.spotify__object {
    color: rgb(179, 179, 179);
    fill: rgb(179, 179, 179);
}

.spotify__object:hover {
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);

    cursor: pointer;
}

.create-playlist {
    display: flex;

    background-color: rgb(179, 179, 179);
    border-radius: 0.15rem;

    min-width: 24px;
    max-height: 24px;
}

.spotify__object:hover .create-playlist{
    background-color: rgb(255, 255, 255);
}

.liked-songs {
    display: flex;

    opacity: 0.8;
    background: linear-gradient(135deg,#450af5,#c4efd9);
    border-radius: 0.15rem;

    min-width: 24px;
    max-height: 24px;
}

.spotify__object:hover .liked-songs {
    opacity: 1;
}

.spotify__main {
    overflow-y: auto;
    height: 100%;
}

.spotify__user {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;

    width: 86px;
    height: 42px;

    color: white;
    background-color: black;
    border-radius: 2rem;
}

.spotify__user:hover {
    background-color: #121212;

    cursor: pointer;
}

.singer-card {
    display: flex;
    flex-direction: column;

    min-width: 200px;

    border-radius: 0.7rem;
    background-color: #181818;
    box-shadow: 0px 0px 6px #121212;
    padding: 16px;

    transition: background-color 200ms ease-in-out;
}

.singer-card:hover {
    background-color: #282828;

    cursor: pointer;
}

.singer-card:hover .singer-img{
    box-shadow: 1px 1px 18px #121212;
}

.singer-card span {
    color: rgb(179, 179, 179);
    font-size: 14px;
}

.singer-img {
    width: 168px;
    height: 168px;

    border-radius: 50%;
    object-fit: cover;
}

.spotify__footer {
    display: flex;
    position: relative;
    bottom: 0;
    z-index: 5;


    width: 100%;
    height: 90px;

    border-top: 1px solid #282828;
    background-color: #181818;
}

.spotify__footer .row {
    width: 100%;
}

.song-credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-left: 16px;
}

.song-credits #song-name {
    color: #FFF;
    font-size: 14px;
}

.song-credits #singer-name {
    color: #6a6a6a;
    font-size: 11px;
}

.song-function {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    fill: rgb(179, 179, 179);

    margin-left: 8px;
    margin-right: 8px;
}

.song-function:hover {
    fill: #FFF;
}

#play-button {
    transition: transform 100ms ease-in;
}

#play-button:hover{
    transform: scale(1.03);
}


.spotify-slider {
    -webkit-appearance: none;

    width: 100%;
    height: 4px;
    border-radius: 4px;


    background-color: hsla(0,0%,100%,0.3);
    background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, hsla(0,0%,100%,0.3 50%), hsla(0,0%,100%,0.3) 100%);

    outline: none;
}

.spotify-slider::-moz-range-thumb {
    visibility: hidden;
    border: none;

    height: 12px;
    width: 12px;

    border-radius: 50%;
    background: rgb(255, 255, 255);
}

.spotify-slider:hover::-moz-range-thumb {
    visibility: visible;
}

.spotify-slider::-moz-range-progress {
    background-color: rgb(179, 179, 179);
    border-radius: 4px;
}

.spotify-slider:hover::-moz-range-progress {
    background-color: #1db954;
}

.spotify-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    visibility: hidden;
    border: none;

    height: 12px;
    width: 12px;

    border-radius: 50%;
    background: rgb(255, 255, 255);
}

.spotify-slider:hover::-webkit-slider-thumb {
    visibility: visible;
}

/* -------- */

/* Netflix */

.netflix {
    position: absolute;
    width: calc(100% - 90px);
    height: 100vh;
    cursor: default;

    margin-left: 90px;
}

.netflix__header {
    display: flex;
    justify-content: space-between;
    align-content: center;

    background-color: rgb(50, 50, 50);

    color: rgb(181, 181, 181);
}

.netflix__body {
    display: flex;

    width: 100%;
    height: 100%;

    background-color: #121212;
}

.netflix__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 100px;
    height: calc(100vh - 73px);

    background-color: #181818;
}

.netflix__sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;

    opacity: 0.7;

    transition: opacity 150ms ease-in, background-color 150ms ease-in, before;
}

.netflix__sidebar-item:hover {
    opacity: 1;

    background-color: #121212;
}

.netflix__sidebar-item::before {
    content: "";
    position: absolute;

    opacity: 0;
    left: 0;
    width: 3px;
    height: 75px;
    
    background-color: red;
    transition: opacity 150ms ease-in;
}

.netflix__sidebar-item:hover::before {
    opacity: 1;
}

.netflix__main {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: calc(100vh - 73px);
}

.netflix-screen {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    overflow-y: auto;
}

.netflix-screen b {
    color: #FFF;
    font-size: 18px;
}

.netflix__cards {
    display: flex;
    position: relative;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;

    padding: 16px;
    gap: 24px;
    width: calc(100% - 110px);

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.netflix__cards::-webkit-scrollbar {
    display: none;
}

.netflix__card {
    display: inline-block;

    min-width: 230px;
    min-height: 320px;

    background-color: #000000;
    transition: opacity 200ms ease-in;
}

.netflix__card:hover .netflix__card-img{
    opacity: 0.3;
}

.netflix__card-img {
    width: 230px;
    height: 320px;
}

.netflix__card-items {
    display: flex;
    position: absolute;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    z-index: 5;
    opacity: 0;
    padding: 16px;
    
    width: 230px;
    height: 320px;

    color: #FFF;
    transition: opacity 350ms ease-in;
}

.netflix__card-items span {
    font-size: 21px;
    font-weight: 800;

    text-align: center;
    white-space:normal;
}

.netflix__card:hover .netflix__card-items{
    opacity: 1;
}

.netflix__card-button {
    display: block;
    cursor: pointer;

    padding: 8px;
    border-radius: 50%;
    opacity: 0.9;

    background-color: red;
    transition: opacity 200ms ease-in-out, box-shadow 250ms ease-in-out;
}

.netflix__card-button:hover {
    opacity: 1;
    box-shadow: 0px 0px 32px red;
}

/* -------- */

/* Boot Screen */

.boot {
    display: fixed;
    position: absolute;
    
    top: 0;
    left: 0;
    z-index: 9999;

    background-color: black;
    width: 100%;
    height: 100vh;
}

.boot img {
    position: absolute;
    width: 50px;

    animation: bootAnimation 3s linear infinite;
}

.boot-animation {
    display: inline-block;
    width: 160px;
    height: 160px;
}

.boot-animation::after {
    content: " ";
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: bootAnimation 1.2s linear infinite;
}

@keyframes bootAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* ----------- */